<!DOCTYPE html>
<html>

<body
    style="margin: 0; padding: 20px; font-family: 'Open Sans', Arial, Helvetica, sans-serif; font-size: 12px; line-height: 1.5; color: #000000; background-color: #f8f9fa;">

    <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#f8f9fa">
        <tr>
            <td align="left">
                <h3 style="margin: 0 0 10px 0; font-size: 14px; font-weight: 600; text-align: left;">Hej
                    {{.BaseTmplData.RecipientFirstName}}!</h3>
                <p style="margin: 0 0 20px 0; font-size: 14px; text-align: left;">Twoją rezerwacja na poniższe zajęcia została odwołana:</p>

                <div style="max-width: 180px; width: 100%; padding: 0;">
                    {{ template "class" . }}
                    {{ if .PassSlotsView }}
                        {{ template "pass" . }}
                        <p style="margin: 10px 0 15px 0; font-size: 14px;">Na Twój karnet zwróciłem jedno miejsce &#128519;</p>
                    {{ end }}
                </div>
                <div>
                    <p style="margin: 30px 0 5px 0; font-size: 14px;">Pozdrawiam,</p>
                    <p style="margin: 0; font-size: 14px;">{{.BaseTmplData.Signature}}</p>
                </div>
                </div>
            </td>
        </tr>
    </table>

</body>

</html>
