{{ define "pass" }}
<div class="pass-container" style="background-color: rgba(255, 255, 255, 0.95); border: 1px solid rgba(224, 224, 224, 0.8); padding-top: 20px; padding-bottom: 30px; padding-left: 30px; padding-right: 30px; border-radius: 4px; box-shadow: 4px 7px 8px rgba(0, 0, 0, 0.07); margin-bottom: 30px; width: 100%; text-align: center;">
    <div class="pass-title" style="font-weight: 600; font-size: 14px;  color: grey; opacity: 0.4; text-align: left; margin-bottom: 15px; padding-bottom: 5px; padding-top: 1px; border-bottom: 1px solid rgba(224, 224, 224, 0.5);">
        karnet
    </div>
    <div class="pass-visual" style="padding-top:15px; padding-bottom:15px; text-align:center;">
        <table style="margin:0 auto; border-collapse:collapse;">
            <tr>
                {{ range .PassSlotsView }}
                <td style="width:30px; text-align:center; padding:0 5px; vertical-align:top;">

                    {{ if eq .Status 1 }}
                    <!-- PAST -->
                    <div
                        style="width:16px; height:16px; margin:0 auto; border:2px solid #7cb342; border-radius:50%; background-color:#7cb342; line-height:16px; text-align:center;">
                        <span style="color:white; font-size:9px; font-weight:bold;">✓</span>
                    </div>

                    {{ else if eq .Status 2 }}
                    <!-- FUTURE -->
                    <div
                        style="width:16px; height:16px; margin:0 auto; border:2px solid #d0d0d0; border-radius:50%; background-color:#d0d0d0; line-height:16px; text-align:center;">
                        <span style="color:white; font-size:9px; font-weight:bold;">✓</span>
                    </div>

                    {{ else }}
                    <!-- BLANK -->
                    <div
                        style="width:16px; height:16px; margin:0 auto; border:2px solid #d0d0d0; border-radius:50%;">
                    </div>
                    {{ end }}

                    <div style="margin-top:6px; min-height:12px; font-size:9px; color:#d0d0d0; line-height:1.1; white-space:nowrap;">

                        {{ if and (ne .Status 0) .ClassStartDate }}
                            {{ .ClassStartDate }}
                        {{ else }}
                            &nbsp;
                        {{ end }}

                    </div>
                </td>
                {{ end }}
            </tr>
        </table>
    </div>
</div>
{{ end }}
