<div class="book-block" id="book-block-{{ .ID }}">
    <form id="booking-form-{{ .ID }}"
          hx-post="/bookings/pending"
          hx-target="#book-block-{{ .ID }}"
          hx-swap="outerHTML">

        <input type="hidden" name="class_id" value="{{ .ID }}">

        <label for="firstname-{{ .ID }}">imię:</label>
        <input type="text"
               id="firstname-{{ .ID }}"
               name="first_name"
               required
               minlength="3"
               maxlength="30"
               pattern="^[A-Za-zÀ-ž]+$"
               class="form-input">

        <label for="lastname-{{ .ID }}">nazwisko:</label>
        <input type="text"
               id="lastname-{{ .ID }}"
               name="last_name"
               required
               minlength="3"
               maxlength="30"
               pattern="^[A-Za-zÀ-ž]+$"
               class="form-input">

        <label for="email-{{ .ID }}">email:</label>
        <input type="email"
               id="email-{{ .ID }}"
               name="email"
               required
               class="form-input"
               pattern="[^@\s]+@[^@\s]+\.[^@\s]+"
               title="Please enter a valid email address">

        <div class="err-msg">
            {{ .Error }}
        </div>
        <button type="submit" class="btn-book">
            <span class="btn-content">
                <span class="submit-text">rezerwuj</span>
                <span class="htmx-indicator">...</span>
            </span>
        </button>
    </form>
    <button onclick="window.location.href='/'" class="btn-return">
       < Wróć
    </button>
</div>
<script>
    document.addEventListener('htmx:beforeSwap', function(event) {
        // handle status 409 (Conflict), 400 (Bad Request), 404 (Not Found)
        if ([409, 404, 400].includes(event.detail.xhr.status)) {
            event.detail.shouldSwap = true;  // force swap
            event.detail.isError = false;    // treat as proper resp
        }
    });
</script>