<div id="cancel-block-{{ .ID }}">
    <form id="cancel-form-{{ .ID }}"
          hx-post="/pending_operation/{{ .ID }}/cancel_booking"
          hx-target="#cancel-block-{{ .ID }}"
          hx-swap="outerHTML">
        <input type="hidden" name="class_id" value="{{ .ID }}">

        <label for="firstname-{{ .ID }}">First Name:</label>
        <input type="text" id="firstname-{{ .ID }}" name="first_name" required class="form-input">

        <label for="email-{{ .ID }}">Email:</label>
        <input type="email" id="email-{{ .ID }}" name="email" required class="form-input" pattern="[^@\s]+@[^@\s]+\.[^@\s]+"
            title="Please enter a valid email address">

        <div class="err-msg">
            {{ .Error }}
        </div>

        <button type="cancel" class="btn-book">
            <span class="submit-text">Cancel Booking</span>
            <span class="htmx-indicator">Processing...</span>
        </button>
    </form>
</div>