<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>classes</title>
    <script src="https://unpkg.com/htmx.org/dist/htmx.min.js"></script>
    <link rel="stylesheet" href="/web/static/css/styles.css">
</head>
<body>
<h1>classes</h1>
<br>
<div>
    {{ range .Classes }}
    <div class="class-container">
        <form id="form-{{ .ID }}">
            <div id="class-info">
                <table cellpadding="6" cellspacing="0" style="border-collapse: collapse; margin-top: 15px;">
                    <tr>
                        <td style="font-weight:bold;">zajęcia:</td>
                        <td>{{ .ClassCategory }}</td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold;">poziom:</td>
                        <td>{{ .ClassLevel }}</td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold;">dzień:</td>
                        <td>{{ .DayOfWeek }}</td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold;">data:</td>
                        <td>{{ .StartDate }}</td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold;">godzina:</td>
                        <td>{{ .StartHour }}</td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold;">gdzie:</td>
                        <td>{{ .Location }}</td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold;">ilość miejsc:</td>
                        <td>{{ .CurrentCapacity }} / {{ .MaxCapacity }}</td>
                    </tr>
                </table>
            </div>
            {{ if eq .CurrentCapacity 0 }}
            <div id="book-button-{{ .ID }}">
                <button disabled>book now</button>
            </div>
            {{ else }}
            <div id="book-button-{{ .ID }}">
                <button class="btn-book"
                        hx-post="/book"
                        hx-swap="outerHTML"
                        hx-target="#book-button-{{ .ID }}"
                        hx-vals='{"id": "{{ .ID }}"}'
                        hx-trigger="click">
                    book now
                </button>
            </div>
            {{ end }}
            {{ if eq .CurrentCapacity .MaxCapacity }}
            <div id="cancel-button-{{ .ID }}">
                <button disabled>cancel booking</button>
            </div>
            {{ else }}
            <div id="cancel-button-{{ .ID }}">
                <button class="btn-cancel"
                        hx-post="/cancel"
                        hx-swap="outerHTML"
                        hx-target="#cancel-button-{{ .ID }}"
                        hx-vals='{"id": "{{ .ID }}"}'
                        hx-trigger="click">
                    cancel booking
                </button>
            </div>
            {{ end }}
        </form>
    </div>
    {{ end }}
</div>
<script>
    document.addEventListener('htmx:beforeSwap', function(event) {
        // handle status 409 (Conflict) and 400 (Bad Request)
        if ([409, 400].includes(event.detail.xhr.status)) {
            event.detail.shouldSwap = true;  // force swap
            event.detail.isError = false;    // treat as proper resp
        }
    });
</script>
</body>
</html>