<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
    <title>potwierdzenie rezerwacji</title>
    <script src="https://unpkg.com/htmx.org/dist/htmx.min.js"></script>
    <link rel="stylesheet" href="/web/static/css/styles.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
</head>
<div id="confirmation-container">
    <div class="confirmation-card">
        <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 24 24" fill="#2ecc71" style="margin: 40 auto; display: block;">
            <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.25 17.292l-4.5-4.364 1.857-1.858 2.643 2.506 5.643-5.784 1.857 1.857-7.5 7.643z"/>
        </svg>
        <h4 style="text-align: center; margin-bottom: 40px;">Rezerwacja potwierdzona!</h4>
        <div class="class-info">
            <div class="class-title"
                style="font-weight: 600; font-size: 14px; color: black; opacity: 0.6; text-align: left; margin-bottom: 15px; padding-bottom: 5px; padding-top: 1px; border-bottom: 1px solid rgba(224, 224, 224, 0.5);">
                {{ .ClassName }}
            </div>
            <table style="border-collapse: collapse; margin-top: 15px;">
                <tr>
                    <td style="font-weight:300;">poziom:</td>
                    <td style="font-weight:500;">{{ .ClassLevel }}</td>
                </tr>
                <tr>
                    <td style="font-weight:300;">dzień:</td>
                    <td style="font-weight:500;">{{ .WeekDay }}</td>
                </tr>
                <tr>
                    <td style="font-weight:300;">data:</td>
                    <td style="font-weight:500;">{{ .StartDate }}</td>
                </tr>
                <tr>
                    <td style="font-weight:300;">godzina:</td>
                    <td style="font-weight:500;">{{ .StartHour }}</td>
                </tr>
                <tr>
                    <td style="font-weight:300;">gdzie:</td>
                    <td style="font-weight:500;">{{ .Location }}</td>
                </tr>
            </table>
        </div>
        <button onclick="window.location.href='/'" class="btn-return">
            wróć
        </button>
    </div>
</div>
