<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Potwierdzenie odwołania</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/web/static/css/styles.css">
</head>
<div class="confirmation-container">
    <div class="confirmation-card">
        <h2>Rezerwacja potwierdzona!</h2>

        <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 24 24" fill="#2ecc71" style="margin: 20px auto; display: block;">
            <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.25 17.292l-4.5-4.364 1.857-1.858 2.643 2.506 5.643-5.784 1.857 1.857-7.5 7.643z"/>
        </svg>

        <p class="confirmation-message">
            Twoja rezerwacja została pomyślnie zarejestrowana.
        </p>

        <div class="booking-info">
            <table style="border-collapse: collapse;">
                <tr>
                    <td style="font-weight:300;">zajęcia:</td>
                    <td style="font-weight:500;">{{ .ClassName }}</td>
                </tr>
                <tr>
                    <td style="font-weight:300;">data:</td>
                    <td style="font-weight:500;">{{ .Date }}</td>
                </tr>
                <tr>
                    <td style="font-weight:300;">godzina:</td>
                    <td style="font-weight:500;">{{ .Hour }}</td>
                </tr>
                <tr>
                    <td style="font-weight:300;">miejsce:</td>
                    <td style="font-weight:500;">{{ .Location }}</td>
                </tr>
            </table>
        </div>
        <button onclick="window.location.href='/'" class="btn-return">
            Powrót do listy zajęć
        </button>
    </div>
</div>