<div id="submit-cancel-block-{{ .ClassID }}">
<p class="pending-operation">
    Kliknij na link wysłany na Twoją pocztę,<br> aby wycofać rezerwację.<br>
    Link będzie aktywny przez 60 min.
</p>
<button onclick="window.location.href='/'" class="btn-return">
   < Wróć
</button>
</div>