<div id="submit-create-block-{{ .ClassID }}">
    <p class="pending-operation-create">
        Kliknij na link wysłany na Twoją pocztę,<br>aby potwierdzić rezerwacje.<br>
        Link będzie aktywny przez 60 min.
    </p>
    <button class="btn-book"
            hx-post="/book"
            hx-swap="outerHTML"
            hx-target="#submit-create-block-{{ .ClassID }}"
            hx-vals='{"id": "{{ .ClassID }}"}'
            hx-trigger="click">
        book now
    </button>
</div>
