<div id="submit-cancel-block-{{ .ClassID }}">
<p class="pending-operation-cancel">
    Kliknij na link wysłany na Twoją pocztę,<br> aby wycofać rezerwację.
</p>
<button class="btn-cancel"
        hx-post="/cancel"
        hx-swap="outerHTML"
        hx-target="#submit-cancel-block-{{ .ClassID }}"
        hx-vals='{"id": "{{ .ClassID }}"}'
        hx-trigger="click">
    cancel booking
</button>
</div>