<div id="booking-block-{{ .ClassID }}">
    <p class="booking-success">
        Kliknij na link wysłany na Twoją pocztę,<br>aby potwierdzić rezerwacje.
    </p>
    <button class="btn-book"
            hx-post="/book"
            hx-swap="outerHTML"
            hx-target="#booking-block-{{ .ClassID }}"
            hx-vals='{"id": "{{ .ClassID }}"}'
            hx-trigger="click">
        book now
    </button>
</div>
