<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>classes</title>
    <script src="https://unpkg.com/htmx.org/dist/htmx.min.js"></script>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
<h1>classes</h1>
<div>
    {{ range .Classes }}
    <div class="class-container">
        <form id="form-{{ .ID }}">
            <div id="class-info">
                type: {{ .Type }}<br>
                level: {{ .Level }}<br>
                day: {{ .Day }}<br>
                date: {{ .Datetime }}<br>
                where: {{ .Place }}<br>
                spots left: {{ .SpotsLeft }}<br>
            </div>
            <div id="book-button-{{ .ID }}">
                <button class="btn-book"
                        hx-post="/book"
                        hx-swap="outerHTML"
                        hx-target="#book-now"
                        hx-vals='{"id": "{{ .ID }}"}'
                        hx-trigger="click">
                    book now
                </button>
            </div>
            <div id="book-now"></div>
            <div id="cancel-button-{{ .ID }}">
                <button class="btn-cancel"
                        hx-post="/cancel-class"
                        hx-swap="outerHTML"
                        hx-target="#cancel-booking"
                        hx-vals='{"id": "{{ .ID }}"}'
                        hx-trigger="click">
                    cancel booking
                </button>
            </div>
            <div id="cancel-booking"></div>
        </form>
    </div>
    {{ end }}
</div>
</body>
</html>