<div class="booking-success">
    <p>Kliknij na link wysłany na Twoją pocztę, aby potwierdzić rezerwacje.</p>
    <p>Click on link sent to your email box in order to confirm your booking.</p>
</div>
<div id="book-button-{{ .ID }}">
    <button class="btn-book"
            hx-post="/book"
            hx-swap="outerHTML"
            hx-target="#book-button-{{ .ID }}"
            hx-vals='{"id": "{{ .ID }}"}'
            hx-trigger="click">
        book now
    </button>
</div>