<html>
<body>
    <h2>Hej {{.RecipientName}}!</h2>
    <br>
    <p>Idziesz na jogę :)</p>
    <br>
    <p>Zajęcia: {{ .ClassName }} ({{.ClassLevel}})</p>
    <p>Kiedy:   {{ .DayOfWeek }} ({{ .Date }} godz. {{ .Hour }})</p>
    <p>Gdzie:   {{ .Location }}</p>
    <br>
    <br>
    <p>Do zobaczenia!</p>
    <p>{{.SenderName}}</p>
</body>
</html>