<html>
<body>
    <h2>Szkoda, że się nie spotkamy, {{.RecipientName}}, ale do zobaczenia następnym razem :)</h2>
    <p>Aby potwierdzić odwołanie zajęć, kliknij w poniższy link:</p>
    <p><a href="{{.ConfirmationLink}}">{{.ConfirmationLink}}</a></p>

    <p>Jeśli to nie Ty próbujesz odwołać swoją rezerwację, zignoruj tę wiadomość.</p>

    <br>
    <p>{{.SenderName}}</p>
</body>
</html>