<html>
<body>
    <h2>Hej, słyszałem że wbijasz do mnie na jogę {{.RecipientName}} :)</h2>
    <p>Aby potwierdzić rezerwację, kliknij w poniższy link:</p>
    <p><a href="{{.ConfirmationLink}}">{{.ConfirmationLink}}</a></p>

    <p>Jeśli to nie Ty próbujesz zarezerwować miejsce, zignoruj tę wiadomość.</p>

    <br>
    <p>{{.SenderName}}</p>
</body>
</html>