<html>
<body>
    <h2>Hej {{.RecipientName}}!</h2>
    <br>
    <p>Szkoda, że się nie spotkamy, ale do zobaczenia następnym razem :)</p>
    <p>Aby odwołać rezerwację, kliknij w poniższy link:</p>
    <p><a href="{{.ConfirmationLink}}">{{.ConfirmationLink}}</a></p>

    <p>Jeśli to nie Ty próbujesz odwołać swoją rezerwację, zignoruj tę wiadomość.</p>

    <br>
    <p>{{.SenderName}}</p>
</body>
</html>