<html>
  <body style="font-family: Arial, sans-serif; color: #333; line-height: 1.6;">
    <h2 style="color:#444;">Hej {{.RecipientFirstName}}!</h2>

    <p>Idziesz na jogę 🙂</p>

    <p><b>Pamiętaj, aby zabrać ze sobą własną matę!</b></p>
    <br>
    
    <table cellpadding="6" cellspacing="0" style="border-collapse: collapse; margin-top: 15px;">
      <tr>
        <td style="font-weight:bold;">Zajęcia:</td>
        <td>{{ .ClassName }} ({{.ClassLevel}})</td>
      </tr>
      <tr>
        <td style="font-weight:bold;">Data:</td>
        <td>{{ .WeekDay }} ({{ .Date }})</td>
      </tr>
      <tr>
        <td style="font-weight:bold;">Godzina:</td>
        <td>{{ .Hour }}</td>
      </tr>
      <tr>
        <td style="font-weight:bold;">Gdzie:</td>
        <td>{{ .Location }}</td>
      </tr>
    </table>
    <br>

    <p>Aby odwołać rezerwację, kliknij: <a href="{{.CancellationLink}}">TUTAJ</a></p>

    <p style="margin-top:20px;">Do zobaczenia!</p>
    <p style="font-weight:bold;">{{.SenderName}}</p>
  </body>
</html>
